/* ----------------------------------
ROOT FILES
------------------------------------- */

:root {
    --road-color: grey;
    --line-color: white;
}

/* -----------------------------------
UTILITY CLASSES 
-------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
   
}


/* --------------------------------------
ROAD DISPLAY SETUP - PAGE 2
---------------------------------------- */

.road-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


.road-display .road1 {
    height: 100vh;
    background: var(--road-color);
    position: relative;
}

.road-display .road2 {
    height: 100vh;
    width: 25vw;
    background: var(--road-color);
    position: relative;
    z-index: 1;
    
}

.road-display .road3 {
    height: 100vh;
    width: 25vw;
    background: var(--road-color);
    position: relative;
    z-index: 1;
    
}

.road-display .road4 {
    height: 100vh;
    width: 25vw;
    background: var(--road-color);
    position: relative;
    
}

.lines {

height: 100vh;
border-left: 5px dotted var(--line-color);
position: absolute;
left: 50%;

}

.inner-lines {
    height: 100vh;
    border: 5px dashed var(--line-color);
    position: absolute;
    left: 160px;
}

/* -------------------------------------
FIRST PAGE SPONSORS DISPLAY
---------------------------------------- */

.image1 {
    height: 50px;
    width: 150px;
    z-index: 1;
    position: absolute;
    top: 20px;
}

.image2 {
    height: 50px;
    width: 150px;
    z-index: 1;
    position: absolute;
    top: 180px;
}


.image3 {
    height: 50px;
    width: 150px;
    z-index: 1;
    position: absolute;
    top: 330px;
}

.image4 {
    height: 50px;
    width: 150px;
    z-index: 1;
    position: absolute;
    top: 500px;
}

.image5 {
    height: 50px;
    width: 100px;
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 25px;
}

.image6 {
    height: 50px;
    width: 100px;
    z-index: 1;
    position: absolute;
    top: 180px;
    right: 25px;
}


.image7 {
    height: 50px;
    width: 100px;
    z-index: 1;
    position: absolute;
    top: 330px;
    right: 25px;
}

.image8 {
    height: 50px;
    width: 100px;
    z-index: 1;
    position: absolute;
    top: 500px;
    right: 25px;
}



/* ------------------------------------
DRIVER ICONS
--------------------------------------- */

.mario-kart-move {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 200px;
    animation-name: startracemario;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    

}

.lakitu-cloud-move {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 80px;
    left: 550px;
    animation-name: startrace1;
    animation-duration: 8.5s;
    animation-fill-mode: forwards;


}

.princess-peach-move {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 890px;
    animation-name: startrace2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

/* ----------------------------------------------
POWER UPS 
------------------------------------------------ */
.bolt {
position: absolute;
height: 60px;
width: 60px;
z-index: 1;
top: 180px;
left: 217px;
animation-name: disappear;
animation-duration: 5s;
animation-fill-mode: forwards;
animation-delay: 2s;


}

.speed {
position: absolute;
height: 75px;
width: 75px;
z-index: 1;
bottom: 140px;
left: 217px;
animation-name: speedactive;
animation-duration: 7s;
animation-delay: 5.7s;




}


.lakitu-cloud-power {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 200px; 
    left: 550px;
    animation-name: shrink;
    animation-duration: 7s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

}

.princess-peach-power {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 225px; 
    right: 375px;
    animation-name: shrinkpeach;
    animation-duration: 9s;
    animation-delay: 3s;

}

/* -----------------------------------------------
BUTTON 
------------------------------------------------- */

.btn {

    padding: 20px;
    background: rgb(255, 30, 0);
    position: absolute; 
    bottom: 2%;
    left: 42%;
    text-transform: uppercase;
    color: white;
    animation-name: btn;
    animation-delay: 7.3s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    z-index: 0;
    text-decoration: none;
    
}


.btn:hover {
transform: scale(1.2);
}

/* -----------------------------------------------
PLAYER ICONS KEYFRAMES 
------------------------------------------------ */
/* STARTING RACE */

@keyframes startrace {



    10% {
        transform: translateY(100px);
        z-index: 1
    }

    30% {
        transform: translateY(150px);
        z-index: 1;
    }

    50% {
        transform: translateY(300px);
        z-index: 1;
    }

    75% {
        transform: translateY(375px);
        z-index: 1;
    }

    85% {
        transform: translateY(440px);
        z-index:1
    }

    100% {
        transform: translateY(700px);
        z-index: 1;
    }
}

@keyframes startracemario {



    10% {
        transform: translateY(100px);
        z-index: 1
    }

    30% {
        transform: translateY(150px) scale(3);
        z-index: 1;
    }

    40% {
        transform: translateY(300px);
        z-index: 1;
    }

    75% {
        transform: translateY(375px);
        z-index: 1;
    }

    100% {
        transform: translateY(700px);
        z-index:1
    }

    
}

@keyframes startrace1 {



    10% {
        transform: translateY(100px);
        z-index: 1
    }

    30% {
        transform: translateY(150px);
        z-index: 1;
    }

    50% {
        transform: translateY(300px);
        z-index: 0;
    }

    75% {
        transform: translateY(375px);
        z-index: 0;
    }

    85% {
        transform: translateY(440px);
        z-index:0
    }

    100% {
        transform: translateY(700px);
        z-index: 0;
    }
}


@keyframes startrace2 {



    20% {
        transform: translateY(100px);
        z-index: 1
    }

    30% {
        transform: translateY(160px);
        z-index: 1;
    }

    40% {
        transform: translateY(160px);
        z-index: 1;
    }


    60% {
        transform: translateY(300px);
        z-index: 1;
    }

    75% {
        transform: translateY(380px);
        z-index: 0;
    }

    85% {
        transform: translateY(300px);
        z-index:0
    }

    100% {
        transform: translateY(350px);
        z-index: 0;
    }
}



/* BTN */

@keyframes btn {



25% {
    z-index: 1;
    background-color: rgb(255, 0, 76);
    transform: scale(0.5);


}

50% {

    z-index: 1;
    background-color: rgb(128, 9, 0);
    transform: scale(1.5);
}

75% {

    z-index: 1;
    background-color: rgb(255, 17, 0);
    transform: scale(0.5);

}


100% {
    z-index: 1;
    background-color: rgb(255, 0, 0);
    
}

}

@keyframes shrink {
    0% {
        
        transform: translateY(0px) scale(0.4);
        z-index:1
        
    }

    10% {
        transform: translateY(0px) scale(0.4);
        z-index:1
    }

    30% {
        transform: translateY(20px) scale(0.4);
        z-index:1
    }

    50% {
        transform: translateY(60px) scale(0.4);
        z-index:1
    }

    70% {
        transform: translateY(90px) scale(0.4);
        z-index:1
        
    }

    80% {
        transform: translateY(150px) scale(0.4);
        z-index:1
        
    }

    100% {
        transform: translateY(300px) scale(0.4);
        z-index:1
        
    }
}

@keyframes shrinkpeach {
    0% {
        
        transform: translateY(0px) scale(0.4);
        z-index:1
        
    }

    10% {
        transform: translateY(0px) scale(0.4);
        z-index:1
    }

    30% {
        transform: translateY(20px) scale(0.4);
        z-index:1
    }

    50% {
        transform: translateY(60px) scale(0.4);
        z-index:1
    }

    70% {
        transform: translateY(90px) scale(0.4);
        z-index:1
        
    }

    80% {
        transform: translateY(150px) scale(0.4);
        z-index:1
        
    }

    100% {
        transform: translateY(300px) scale(0.4);
        z-index:1
        
    }
}

@keyframes disappear {
    to {
        z-index: 0;
        transform: rotate(360deg) scale(0.1);
        

    }
}

@keyframes speedactive {
    to {
        transform: scale(2);
    }

}
       